

header {
	border-bottom-style: solid;
	border-bottom-color: black;
	padding-bottom: 40px;
	width: 100vw;
}

ul {
	list-style-type: none;
}

.navbar ul  {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.navbar li {
	display: flex;
}

.navbar li h2 {
	display: block;
	text-align: left;

}

/* pousser tous les éléments après le premier vers la droite */
.navbar ul li:first-child {
    margin-right: auto;
}

.navbar li a{
	justify-content: flex-end;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
}

h1 {
	font-size: 3rem;
}
header h1, header p {
	text-align: center;
}

main {
	display: grid;
}

.projects {
	border-right: 2px solid black;
}

.projects h2 {
	margin-top: 0;
	padding-top: 2%;
}

.projects ul {
	padding: 0;
	margin: 0;
}

.projects ul li {
	border-bottom: 2px solid black;
	padding: 1%;
}

