

header {
	padding-bottom: 40px;
	width: 100vw;
}

ul {
	list-style-type: none;
}

.navbar ul  {
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 95%;
}

.navbar li {
	display: flex;
}

.navbar li h2 {
	display: block;
	text-align: left;
	padding-left: 10%;
	min-width: 180px;
}

/* pousser tous les éléments après le premier vers la droite */
.navbar ul li:first-child {
    margin-right: auto;
}

.navbar li a{
	justify-content: flex-end;
	color: black;
	margin: 8px;
	text-decoration: none;
}

h1 {
	font-size: 3rem;
}
header h1, header p {
	text-align: center;
}

main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	border: 2px, solid, black;
	width: 100%
}

.projects {
	grid-row: 1 / 3;
}

.projects h3 {
	padding-left: 5%;
}

.projects ul {
	padding: 0;
	margin: 0;
}

.projects ul li {
	border-bottom: 2px solid black;
	padding: 5%;
}

.projects ul li:last-child{
	border: none;
}
.work {
	grid-row: 1/2;
	border: 2px, solid, black;
	padding-bottom: 5%;
}

.work h3, h4, p, a{
	padding-left: 5%
}
.work h4, p {
	margin: 3px;
}

.trait {
	margin: 6% 0 0 0;
	border: 1px solid black;
}
.work a {
	font-size: 0.8rem;
}

.educ {
	padding-left: 5%;
}

.educ ul{
	padding-left: 2%;
}


